/* (page-1) */

.C1{
    background-color: #b3b3b3;
    padding-bottom: 1vh;
}
.c1_contact{
    padding-top: 20vh;
    padding-bottom: 20vh;
    font-size: 6vw;
    color: #ffffff;
    font-family: "Gilda Display";
}
